.post_body_content {
    background-color: #fff;
    &_thumbnail {
        position: relative;
        width: 100%;
        ul.info {
            position: absolute;
            bottom: 1.4vh;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 2px;
            li{
                img {
                    width: 1.3vw;
                    object-fit: contain;
                    min-width: 20px;
                }
            }
        }
    }
    &_single {
        @include mq(sp){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding: 40px 10vw 5px;
        }
    }
    &_main {
        padding: 40px 3.2rem 5px;
        @include mq(sp){
            padding: 0 4vw 0;
            width: 100%;
            max-width: 500px;
        }
        h2 {
            font-size: 19px;
            margin-bottom: 40px;
            color: #03581D;
            @include mq(sp){
                font-size: 16px;
                margin-top: 30px;
            }
            &.wp-block-heading {
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
        ul.wp-block-list {
            margin: 15px 0;
            list-style-type: circle;
            padding-left: 17px;
            li {
                color: #03581D;
                font-size: 13.5px;
                ul.wp-block-list {
                    margin: 4px 0 0;
                }
            }
        }
        ol.wp-block-list {
            margin: 15px 0;
            list-style-type: decimal;
            padding-left: 17px;
            li {
                color: #03581D;
                font-size: 13.5px;
                ol.wp-block-list {
                    margin: 4px 0 0;
                }
            }
        }
        .wp-block-table .has-fixed-layout tr {
            // display: grid;
            display: inline-block;
            td {
                border: none;
                font-size: 15px;
                padding: 11.5px 10px 6px;
                font-weight: 500;
                color: #03581D;
                display: block;
                &:first-child {
                    border-bottom: 1px solid #03581D;
                    display: inline-block;
                    font-weight: 600;
                }
                &:last-child {
                    margin-bottom: 18px;
                }
            }
        }
        &_wrap {
            &_body {
                p {
                    color: #03581D;
                    font-size: 15.5px;
                    line-height: 1.8rem;
                    margin-bottom: 15px;
                    font-weight: 500;
                    @include mq(sp){
                        font-size: 14px;
                    }
                    a {
                        color: #03581D;
                    }
                }
            }
            &_info {
                margin-top: 40px;
                p {
                    color: #03581D;
                    font-size: 15px;
                    margin-bottom: 10px;
                    line-height: 1;
                    font-weight: 500;
                }
            }
        }
        &_googlemap {
            margin: 40px auto 0;
            width: 100%;
            iframe {
                width: 100%;
                height: auto;
                aspect-ratio: 4 / 3;
            }
        }
    }
}

.single-feature {
    .feature-card {
        .feature-card__scroll-wrapper {
            overflow-y: auto;
        }
    }
}