.footer {
  padding: 60px 0 25px;
  background-color: $col_theme_main;
  @include mq(sp){
    padding: 60px 0 70px;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    @include mq(sp){
      display: block;
    }
  }
  &_logo {
    text-align: center;
    a {
      display: block;
      img {
        width: 10.98vw;
        min-width: 150px;
        @include mq(sp){
          min-width: 120px;
        }
      }
    }
  }
  &_info {
    @include mq(sp){
      margin-top: 60px;
    }
    &_adress_jp {
      p {
        font-size: max(1vw, 14px);
        color: $col_white;
        margin-bottom: 20px;
        line-height: 1.5em;
        @include mq(sp){
          font-size: 13px;
          text-align: center;
        }
      }
    }
    &_adress_en {
      display: flex;
      justify-content: flex-end;
      @include mq(sp){
        justify-content: center;
      }
      p {
        text-align: right;
        font-size: max(.95vw, 13px);
        color: $col_white;
        margin-bottom: 30px;
        line-height: 1.5em;
        @include mq(sp){
          font-size: 12px;
          text-align: center;
          margin-bottom: 50px;
        }
      }
    }
    &_sns {
      display: flex;
      justify-content: flex-end;
      gap: 1.46vw;
      @include mq(sp){
        justify-content: center;
        gap: 20px;
      }
      a {
        display: block;
        svg {
          height: 1.4vw;
          width: fit-content;
          @include mq(sp){
            height: 19px;
            min-height: unset;
          }
        }
      }
    }
  }
  &_copylight {
    margin-top: 35px;
    p {
      font-size: max(.95vw, 13px);
      color: $col_white;
      text-align: right;
      font-weight: 300;
      @include mq(sp){
        font-size: 12px;
        text-align: center;
      }
    }
  }
}