html {
  scroll-behavior: smooth;
}
body {
  font-weight: 400;
  font-style: normal;
  font-size: max(1vw, 14px);
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0;
  font-family: $main_font;
  width: 100%;
  color: $col_black;
}

// .site {
//   @include mq(sp) {
//     margin-top: 56px!important;
//   }
// }

h1,
h2,
h3,
h4,
h5,
strong {
  display: block;
  font-size: inherit;
  margin: 0;
  font-weight: 700;
}
strong {
  display: inline-block;
}

h3 {
  font-size: max(1.75vw, 24px);
  line-height: 1.6em;
  font-weight: 600;
  letter-spacing: 2.1px;
  @include mq(sm){
      font-size: 20px;
      line-height: 1.4em;
      letter-spacing: 1.6px;
  }
}

h4 {
  font-size: max(1.46vw, 20px);
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 1.5px;
  @include mq(sm){
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 1.2px;
}
}

p {
  font-size: max(1vw, 14px);
  line-height: 2em;
  font-weight: 400;
  letter-spacing: 1.2px;
}

ul {
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
  }
}

dl {
  dt {
    font-weight: 400;
  }
  dd {
    text-align: justify;
    margin-bottom: 0;
  }
}

img {
  font-family: "object-fit: cover; object-position: center;";
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

input,
button,
select,
textarea {
  color: inherit;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
}
input[type="date"] {
  min-height: 34px;
}
label {
  margin: 0;
}

button {
  display: inline-block;
  color: $col_black;
  border-radius: 5px;
  background-color: $col_white;
  appearance: none;
}

select {
  cursor: pointer;
  appearance: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
svg {
  transition: 0.3s;
}
header {
  text-align: center;
}

.sec_inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 5.3vw;
  @include mq(xl){
    padding: 0 8vw;
  }
  &_full {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
  }
}

.single_inner {
  width: 100%;
  margin: 0 auto 0 0;
  max-width: 1140px;
  @media screen and (min-width:1000px) and ( max-width:1199px) {
    max-width: 960px;
  }
  @include mq(sp){
    max-width: unset;
    // padding: 0 5.3vw;
  }
  &_full {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
  }
}

.intro_txt {
  max-width: 570px;
  margin: 0 auto;
  p {
    font-size: max(1vw, 14px);
    font-size: 14px;
    font-weight: 700;
    line-height: 2em;
    @include mq(sp){
      line-height: 1.8em;
    }
  }
}

p {
  &.small {
    font-size: max(.87vw, 12px);
    @include mq(sm){
      font-size: 12px;
    }
  }
  &.medium {
    font-size: max(1.46vw, 20px);
    font-weight: 400;
    @include mq(sm){
      font-size: 16px;
    }
  }
  a {
    color: $col_theme_main;
    text-decoration: underline;
  }
}

.column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include mq(sp){
    grid-template-columns: 1fr;
  }
}

.container_max_w {
  max-width: 700px;
  margin: 0 auto;
  p {
    font-weight: 700;
  }
}

.menu-blur {
  &.is-active {
    filter: blur(15px);
  }
}